<div class="row">
	<div class="col-lg-12">
		<div class="card">
			<form action="#"> 
				<div class="card-body">
					<div class="btn-group float-sm-left mb-1">
						<button type="button" data-toggle="modal" data-target="#trailer_modal" class="btn btn-outline-success btn-sm">
							<i class="zmdi zmdi-plus mr-1"></i>Add Trailer
						</button>
					</div>
					<div class="table-responsive">
						<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered table-striped table-hover">
							<thead>
								<tr>
									<th>S.No</th>
									<th>Trailer</th>
								</tr>
							</thead>
							<tbody>
								<!-- <div id="loading" *ngIf="isLoading">
									<img src="assets/images/pre_lodding.gif" width="250" height="250"  class="text-center">
							   </div> -->
							   <tr *ngFor="let trailer of rowData; let i = index">
								<th style="text-align: center;" scope="row">{{i+1}}</th>
								<td><a style="color: dodgerblue; cursor: pointer;" data-toggle="modal" data-target="#trailer_modal" (click)="EditTrailer(trailer.trailerId)">{{trailer.trailerName}}</a></td>
								<!-- <td>{{trailer.trailerName}} </td> -->
							</tr>
							</tbody>
						</table>
					</div>
				</div>
		   </form>
		</div>
	</div>
</div>
<div id="trailer_modal" class="modal fade hide" role="dialog">
	<form action="#" #masterTrailerForm="ngForm">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h6 class="modal-title">Trailer Details</h6>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<div class="form-body">
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label class="control-label">Trailer Name<i class="validation_required">*</i></label>
									<input type="text" id="trailerName" name="trailerName"  required #trailerName="ngModel" class="form-control form-control-sm" [(ngModel)]="trailerForm.trailerName" placeholder="Trailer Name">
								</div>
								<div *ngIf="!trailerName?.valid && (trailerName?.dirty || trailerName?.touched)" class="error">
									<div *ngIf="trailerName.errors.required">
										Trailer Name is required
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="clientName" class="control-label">Client<i class="validation_required">*</i></label>
									<ng-select 
										[items]="clientDataArr"
										bindLabel="clientName"
										bindValue="id"
										placeholder="Select Client"
										appendTo="body"
										name="clientName"
										required #clientId="ngModel"
										[(ngModel)]="trailerForm.clientId"> 
                                    </ng-select>
									<div *ngIf="!clientId?.valid && (clientId?.dirty || clientId?.touched)" class="error">
										<div *ngIf="clientId.errors.required">
											Client is required
										</div>
									</div>
								</div>
							</div>
							
						</div>						
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
					<button type="submit" class="btn btn-primary" *ngIf="!isEditMode && !isViewMode" [disabled]="!masterTrailerForm.valid" data-dismiss="modal" (click)="SaveTrailer()">Save</button>
					<button type="submit" class="btn btn-primary" *ngIf="isEditMode && !isViewMode" [disabled]="!masterTrailerForm.valid" data-dismiss="modal" (click)="UpdateTrailer()">Update</button>
					<button type="button" class="btn btn-danger" *ngIf="isEditMode && !isViewMode"  data-dismiss="modal" (click)="DeleteTrailer()">Delete</button>
				</div>
			</div>
		</div>
	</form>
</div>