<div class="row">
	<div class="col-lg-12">
		<div class="card">
			<form action="#"> 
				<div class="card-body">
					<div class="btn-group float-sm-left mb-1">
						<button type="button" data-toggle="modal" data-target="#refer_mode_modal" class="btn btn-outline-success btn-sm">
							<i class="zmdi zmdi-plus mr-1"></i>Add Refer Mode
						</button>
					</div>
					<div class="table-responsive">
						<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered table-striped table-hover">
							<thead>
								<tr>
									<th>S.No</th>
									<th>Refer Mode</th>
								</tr>
							</thead>
							<tbody>
								<!-- <div id="loading" *ngIf="isLoading">
									<img src="assets/images/pre_lodding.gif" width="250" height="250"  class="text-center">
							   </div> -->
							   <tr *ngFor="let referMode of rowData; let i = index">
								<th style="text-align: center;" scope="row">{{i+1}}</th>
								<td><a style="color: dodgerblue; cursor: pointer;" data-toggle="modal" data-target="#refer_mode_modal" (click)="EditReferMode(referMode.referModeId)">{{referMode.referModeName}}</a></td>
								<!-- <td>{{referMode.referModeName}}</td>  -->
							</tr>
							</tbody>
						</table>
					</div>
				</div>
		   </form>
		</div>
	</div>
</div>
<div id="refer_mode_modal" class="modal fade hide" role="dialog">
    <form action="#" #masterReferModeForm="ngForm" >
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h6 class="modal-title">Refer Mode</h6>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<div class="form-body">
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label class="control-label">Refer Mode<i class="validation_required">*</i></label>
									<input type="text" id="referModeName" name="referModeName"  required #referModeName="ngModel" class="form-control form-control-sm" [(ngModel)]="referModeForm.referModeName" placeholder="Refer Mode">
								</div>
								<div *ngIf="!referModeName?.valid && (referModeName?.dirty || referModeName?.touched)" class="error">
									<div *ngIf="referModeName.errors.required">
										Refer Mode is required
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="clientName" class="control-label">Client<i class="validation_required">*</i></label>
									<ng-select 
										[items]="clientDataArr"
										bindLabel="clientName"
										bindValue="id"
										placeholder="Select Client"
										appendTo="body"
										name="clientName"
										required #clientId="ngModel"
										[(ngModel)]="referModeForm.clientId"> 
                                    </ng-select>
									<div *ngIf="!clientId?.valid && (clientId?.dirty || clientId?.touched)" class="error">
										<div *ngIf="clientId.errors.required">
											Client is required
										</div>
									</div>
								</div>
							</div>
						</div>						
					</div>
				</div>
				<div class="modal-footer">
					<button type="reset" class="btn btn-danger" data-dismiss="modal">Cancel</button>
					<button type="submit" class="btn btn-primary" *ngIf="!isEditMode && !isViewMode" [disabled]="!masterReferModeForm.valid" data-dismiss="modal" (click)="SaveReferMode()">Save</button>
					<button type="submit" class="btn btn-primary" *ngIf="isEditMode && !isViewMode" [disabled]="!masterReferModeForm.valid" data-dismiss="modal" (click)="UpdateReferMode()">Update</button>
					<button type="button" class="btn btn-danger" *ngIf="isEditMode && !isViewMode"  data-dismiss="modal" (click)="DeleteReferMode()">Delete</button>
				</div>
			</div>
		</div>
	</form>
</div>