input:focus{
    box-shadow: none  !important;
    border-color: none  !important;
}
// .form-control{
//     color: #495057 !important;
//     background-color: #fff !important;
//     border-color: #0350c5 !important;
//     outline: none !important;
// }