.sm_table_thead{
    background-color:lavender; 
    // border: 1px solid black;
    text-align: center;
    height: 35px;
    padding: 0 4px;
    // padding-top: 6px;
    // padding-left:50px;
}
.borderalert {
    border: 1px solid red;
  }


// .RemoveInputNumberArrows{
//   input[type="number"] 
//   {
//     appearance: textfield;
//   }
//   input[type="number"]::-webkit-inner-spin-button, 
//   input[type="number"]::-webkit-outer-spin-button 
//   { 
//     -webkit-appearance: none; 
//     margin: 0; 
//   }
// }
// .RemoveInputNumberArrows input[type="number"] 
//   {
//     appearance: textfield;
//   }
//   .RemoveInputNumberArrows  input[type="number"]::-webkit-inner-spin-button, 
//   .RemoveInputNumberArrows  input[type="number"]::-webkit-outer-spin-button 
//   { 
//     -webkit-appearance: none; 
//     margin: 0; 
//   }
