<div class="row">
	<div class="col-lg-12">
		<div class="card p-3 mb-2">
			<form action="#"> 
				<div class="d-flex justify-content-between ">
					<h6 class="card-title h5">Maintenance Reminders</h6>
					<div class="d-flex">
						<button class="btn btn-outline-success btn-sm"><small>Add Reminder</small><i class="zmdi zmdi-plus ml-2"></i></button>
                        <button class="btn btn-outline-dark btn-sm mx-3"><small>Copy Reminder</small></button>
                        <button class="btn btn-outline-dark btn-sm"><small>Refresh</small><i class="zmdi zmdi-refresh ml-2"></i></button>
					</div>
				</div>
                <div class="col-3 p-1 mb-2">
                    <ng-select placeholder="All Vehicles"></ng-select>
                </div>
				<div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr class="bg-light text-dark">
                                    <!-- <th><input type="checkbox" value=""  id=""></th> -->
                                    <th>Submitted</th>
                                    <th>From</th>
                                    <th>To</th>
                                    <th>Vehicle</th>
                                    <th>Status</th>
                                    <th>Report</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                   
                                    <td>Submitted</td>
                                    <td>From</td>
                                    <td>To</td>
                                    <td>Vehicle</td>
                                    <td>Status</td>
                                    <td>Report</td>
                                    <!-- <td><input type="checkbox" value=""  id=""></td> -->
                                </tr>
                            </tbody>
                        </table>
                    </div>
				</div>
		   </form>
		</div>
	</div>
</div>
