<!-- Start wrapper-->
<div id="wrapper" class="blur-background">
	<div class="height-100v d-flex align-items-center justify-content-center">
		<div class="card-authentication2 mx-auto my-5">
			<div class="card-group">
				<div class="card mb-0 bg_login_img">
					<!-- <div class="bg-signin2"></div> -->
					<!-- <div class="card-img-overlay rounded-left my-5 text-center"> -->
					<div class="rounded-left my-5 text-center">
						<!-- <h2 class="text-white"></h2> -->
						<h1 class="mt-5 text-white" style="font-size:70px; font-weight: 600;">GBT ELOGS</h1>
						<!-- <p class="card-text text-white pt-3"></p> -->
					</div>
				</div>
				
				<!-- <div class="card mb-0 " style="background-color: #04356d;"> -->
				<div class="card mb-0 " style="background-color: #094152;">
					<div class="card-body">
						<div class="card-content pt-3 my-3">
							<div class="text-center">
								<img src="assets/images/logo-icon.png" class="img-fluid" alt="logo icon" width="200">
							</div>
							<div class="card-title text-uppercase text-center py-2 text-white">Sign In</div>
							<form (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()" #f="ngForm">
								<div class="pre_lodding" *ngIf="isLoading">
									<img src="../../../assets/images/loading.gif" alt="" srcset="" class="m-auto img-fluid" width="150">
								</div>
								<span class="error_msg" *ngIf="isError">{{errorMessage}}</span>
								<div class="form-group">
									<div class="position-relative has-icon-left">
										<label for="username" class="sr-only">Username</label>
										<input type="text" id="username" name="username" class="form-control mb-2" placeholder="Username" ngModel required>
										<div class="form-control-position"> <i class="icon-user"></i>
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="position-relative has-icon-left">
										<label for="password" class="sr-only">Password</label>
										<!-- <input [type]="password" id="password" name="password" class="form-control mb-2" placeholder="Password" ngModel required>
										<div class="form-control-position"> 
											<i class="icon-lock"></i>
										</div>
										<button type="button" (click)="togglePassword()" class="">
											<i class="{{ passwordVisible ? 'fa fa-eye' : 'fa fa-eye-slash' }}"></i>
										</button> -->
										<div class="password-container">
											<div class="form-control-position"> 
												<i class="icon-lock"></i>
											</div>
											<input 
											  [type]="passwordVisible ? 'text' : 'password'" 
											  id="password" 
											  name="password" 
											  class="form-control mb-2" 
											  placeholder="Password" 
											  ngModel required
											/>
											<button type="button" (click)="togglePassword()" class="eye-button">
											  <i class="{{ passwordVisible ? 'fa fa-eye' : 'fa fa-eye-slash' }}"></i>
											</button>
										</div>
									</div>
								</div>
								<div class="form-row">
									<!-- <div class="form-group  text-right"> <a href="JavaScript:;" (click)="onResetpassword2()">Reset Password</a>
									</div> -->
								</div>
								
								<button type="button" (click)="onSubmit()" class="btn btn-primary btn-block waves-effect waves-light">Sign In</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--wrapper-->

<!-- Client Setup Modal -->
<div class="modal fade" id="clientSetupModal" tabindex="-1" role="dialog" aria-labelledby="clientSetupModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h5 class="modal-title" id="clientSetupModalLabel">Disclaimer</h5>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <p style="white-space: pre-line;">
          {{disclaimer}}
        </p>
      </div>

      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-danger" (click)="onDisagree()">Disagree</button>
        <button type="button" class="btn btn-success" (click)="onAgree()">Agree</button>
      </div>
    </div>
  </div>
</div>

