.navbar{
    padding: 8px;
}
.brand-logo .logo-icon{
    width: 44px;
}
.logo-text{
    font-size: 20px;
    color: #fff;
    margin-top: 10px;
    margin-left: 3px;
}
.toggle-menu{
    margin-left: 23px;
}
.navbar-nav .nav-item a{
 color: #FFF;
 text-decoration: none;
 font-size: 18px;
}
.title{
    font-size: 30px;
    font-weight: 600;
    color: #1d1d1d;
}
.validation_required{
    color: red;
    margin-left: 5px;
    font-weight: bolder;
}