.validation_required{
    color: red;
    margin-left: 5px;
    font-weight: bolder;
}

.alert {
    // background-color: #fed3d3;
    // color: #820000;
    // padding: 1rem;
    // margin-bottom: 1rem;
    border: 1px solid red;
  }